.main-project-container{
    display: flex;
    flex-direction: column;
}

#project-container{
    border: 4px solid #8892B0;
    margin: 25px 25% 50px 25%;
    height: fit-content;
    display: flex;
    overflow: hidden;
}
.preview{
    /* border: 2px solid #8892B0; */
    width: 25%;
    height: 250px;
}
.details{
    /* border: 2px solid #8892B0; */
    width: 75%;
    background-color: #8892B0;
    text-align: center;
}
#image{
    object-fit: cover;
    height: 100%;
    width: 100%;
}
button{
    height: 2em;
    background-color: #8892B0;
    border-color: #00FFFF;
    border-radius: 10px;
    margin: 10px;
    color: #00FFFF;
}
@media only screen and (max-width: 991px){
    #project-container{
        /* border: 2px solid red; */
        height: fit-content;
        display: flex;
        flex-direction: column;
        margin: 0 5% 5%;
    }
    .preview{
        /* border: 2px solid red; */
        width: 100%;
        height: 200px;
    }
    .details{
        width: 100%;
    }
    
}