@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
#nav{
    border-bottom: 3px solid #162d4e;
    margin: 0 5%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.name{
    font-size: 20px;
    margin: 0;
    text-decoration: none;
    color: #8892B0;
}
.links{
    font-size: 20px;
    text-decoration: none;
    margin: 0 10px;
    color: #8892B0;
    font-family: 'Roboto Mono', monospace;
}
.links:hover{
    color: #00ffff;
}
.colorchange{
    color: aqua;
    font-family: 'Roboto Mono', monospace;
}
.nav-image{
    /* border: 3px solid blue; */
    height: 40px;
    width: 40px; 
    /* border-radius: 50%; */
    margin-left: 20px;
    filter: invert(63%) sepia(11%) saturate(774%) hue-rotate(187deg) brightness(92%) contrast(83%);
}
.nav-image:hover{
    filter: invert(96%) sepia(63%) saturate(4493%) hue-rotate(104deg) brightness(101%) contrast(107%);
}
#image{
    object-fit: cover;
    height: fit-content;
    width: 100%;
}