@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
#nav{
    /* border: 1px solid red; */
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.name{
    font-size: 20px;
    margin: 0;
    text-decoration: none;
    color: #8892B0;
}
.links{
    font-size: 20px;
    text-decoration: none;
    margin: 0 10px;
    color: #8892B0;
    font-family: 'Roboto Mono', monospace;
}
.colorchange{
    color: aqua;
    font-family: 'Roboto Mono', monospace;
}
.nav-image{
    /* border: 3px solid blue; */
    height: 70px;
    width: 70px; 
    border-radius: 50%;
    overflow: hidden;
    margin-left: 20px;
}
#image{
    object-fit: cover;
    height: fit-content;
    width: 100%;
}