body {
	background-color: #0A192F !important;
	overflow-y: hidden;
	overflow-x: hidden;
	height: 100vh;
}
#main-container{
	margin: 5px;
	height: 80vh;
	overflow: hidden;
	overflow-y: scroll;
	text-align: center;
}
#main-container::-webkit-scrollbar {
    display: none;
}
